@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
    --main-bg-color:#192133;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;       
}

header{
    background-color: var(--main-bg-color);
    color: #aca9a9;
    position: sticky;
    top: 0;
    z-index: 1;
}

header ul{
    display: flex;
    align-items: center;
    height: 11vh;
}

.logo{
    margin: 0 3px 0 30px;
    cursor: pointer;
}

.lists{
    display: flex;
}

header ul li{
    margin: 0 25px;
    list-style: none;
    cursor: pointer;
}

header ul li a:hover{
    color: #ffffff;
}

.sbl{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: right;
}

.logsub{
    display: flex;
    align-items: center;
}

.search{
    margin: 0 25px 0 0;
}

.srh{
    width: 15vw;  
    padding: 3px;
    background-color: var(--main-bg-color);
    color: #aca9a9;  
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #aca9a9;
    outline: none;
}

#btn{
    padding: 2px 6px;
    background: rgb(49, 49, 206);
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.login{
    margin: 0 20px;
}

.login a:hover{
    color: #ffffff;
}

div a{
    text-decoration: none;
    color: rgb(221, 211, 211);
    font-family: 'Noto Sans', sans-serif;
}

main{
    background-color: #0c111b;
}

.container{
    background-color: #0c111b;
    display: flex;
    justify-content: center;
}

.img{
    height: calc(100vh - 11vh);
    width: 90vw;    
}

h1 {
    display: inline-block;
    position: absolute;
    left: 13.5vw;
    top: 22vh;
    color: rgb(255, 255, 255);
}

main p{
    display: inline-block;
    text-align: left;
    position: absolute;
    left: 14vw;
    top: 30vh;
    color: rgb(255, 255, 255);
}

.btn2{
    display: inline-block;
    position: absolute;
    left: 17vw;
    top: 60vh;
    color: white;
}

#btn2 {
    color: #fffefe;
    font-size: 15px;
    width: 220px;
    padding: 10px 6px;
    background: border-box;
    cursor: pointer;
    border-color: #3131ce;
    border-radius: 10px;
} 

#btn2:hover{
    color: #aca9a9;
}

.grid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridimg{
    border-radius: 10px;
    width: 195px;
    height: 259px;
}

.gridimg:hover{
    transform: scale(1.2); 
    transition: all 0.30s ease-in;      
    cursor: pointer;     
}

h3{
    margin: 20px 0;
    color: white;
}

footer{
    background-color: var(--main-bg-color);
    color: #aca9a9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}